<section id="search" class="search-wrap">
    <h1 style="color: white;">Find A Car</h1>
    <form action="/gigs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Type a vin code">
      <input type="submit" value="Search">
    </form>
  </section>
